 .u-section-1 {
  min-height: 1098px;
}

.u-section-1 .u-image-1 {
  width: 881px;
  height: 624px;
  margin: 68px auto 0 calc(((100% - 1140px) / 2) + 80px);
}

.u-section-1 .u-group-1 {
  width: 487px;
  min-height: 429px;
  margin: -174px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 10px 54px;
}

.u-section-1 .u-group-2 {
  width: 518px;
  min-height: 280px;
  margin: -200px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px 20px 0;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  text-decoration: none solid rgb(223, 4, 111);
  margin: 16px 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.7;
  font-size: 1.25rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 804px;
    height: 620px;
    margin-left: calc(((100% - 1140px) / 2) + 168px);
  }

  .u-section-1 .u-group-1 {
    width: 422px;
    margin-top: -170px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-group-2 {
    width: 498px;
    margin-top: -233px;
    margin-bottom: -126px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 984px;
  }

  .u-section-1 .u-image-1 {
    width: 600px;
    height: 538px;
    margin-left: calc(((100% - 1140px) / 2) + 270px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -88px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 16px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 857px;
  }

  .u-section-1 .u-image-1 {
    width: 462px;
    height: 428px;
    margin-top: -342px;
    margin-left: calc(((100% - 1140px) / 2) + 339px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -34px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 31px;
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1128px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
    margin-top: -171px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 302px;
    margin-top: -51px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 419px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-2 {
    margin-top: 28px;
    margin-bottom: -7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1040px;
}

.u-section-2 .u-shape-1 {
  width: 571px;
  height: 890px;
  margin: -151px -651px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -659px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.75rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.375rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-size: 1.375rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 466px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 7px;
}

.u-section-2 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 67px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.6875rem;
  margin: 26px 12px 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  font-size: 1.375rem;
  margin: 12px 12px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 62px auto 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.375rem;
  font-style: italic;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-2 .u-shape-1 {
    width: 492px;
    height: 818px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -739px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 384px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-2 .u-shape-1 {
    width: 370px;
    height: 868px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -789px;
    margin-bottom: 59px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -67px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 918px;
}

.u-section-3 .u-shape-1 {
  width: 662px;
  height: 334px;
  margin: 31px 22px 0 auto;
}

.u-section-3 .u-image-1 {
  height: 659px;
  width: 583px;
  margin: -722px auto 0 76px;
}

.u-section-3 .u-shape-2 {
  width: 237px;
  height: 237px;
  margin: -126px auto 0 0;
}

.u-section-3 .u-shape-3 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -798px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 462px;
  min-height: 549px;
  margin: -136px 88px -229px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-3 .u-shape-1 {
    width: 594px;
    height: 286px;
    margin-top: 60px;
  }

  .u-section-3 .u-image-1 {
    height: 541px;
    width: 435px;
    object-position: 66.82% 50%;
    margin-top: -674px;
    margin-left: 51px;
  }

  .u-section-3 .u-shape-2 {
    width: 189px;
    height: 189px;
    margin-top: -99px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -659px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: -295px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-3 .u-shape-1 {
    width: 490px;
    height: 262px;
  }

  .u-section-3 .u-image-1 {
    height: 442px;
    width: 380px;
    object-position: 52.37% 50%;
    margin-top: -982px;
    margin-left: 48px;
  }

  .u-section-3 .u-shape-2 {
    width: 163px;
    height: 163px;
    margin-top: -89px;
  }

  .u-section-3 .u-shape-3 {
    width: 212px;
    height: 212px;
    margin-top: -179px;
  }

  .u-section-3 .u-group-1 {
    width: 414px;
    min-height: 532px;
    margin-right: 60px;
    margin-bottom: -622px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-3 .u-shape-1 {
    width: 427px;
    margin-right: 25px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -1021px;
  }

  .u-section-3 .u-shape-3 {
    width: 188px;
    height: 188px;
    margin-top: -107px;
  }

  .u-section-3 .u-group-1 {
    width: 357px;
    min-height: 492px;
    margin-top: -107px;
    margin-bottom: -660px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 21px 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    height: 368px;
    width: 298px;
    margin-top: -1070px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -91px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-group-1 {
    width: 298px;
    min-height: 512px;
    margin: -128px auto -709px 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1164px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 715px;
  font-size: 3.75rem;
  margin: 70px auto 0;
}

.u-section-4 .u-line-1 {
  width: 121px;
  height: 3px;
  transform-origin: right center;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  width: 682px;
  margin: 20px auto 0;
}

.u-section-4 .u-shape-1 {
  height: 396px;
  margin-top: 525px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -873px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 778px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 451px;
  object-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 2px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 58px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 399px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: 0 159px 0 0;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 19px 0 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 399px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 379px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  margin: 0 32px 0 0;
}

.u-section-4 .u-text-11 {
  font-style: italic;
  margin: 19px 0 0;
}

.u-section-4 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-image-2 {
  min-height: 379px;
  background-image: url("images/portrait-adorable-little-doggie_23-2148316293.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-4 .u-image-1 {
    height: 360px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 329px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 2036px;
  }

  .u-section-4 .u-shape-1 {
    height: 1092px;
    margin-top: 701px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1745px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 716px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2560px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-shape-1 {
    height: 1616px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -2269px;
  }

  .u-section-4 .u-image-1 {
    height: 564px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 617px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2431px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-shape-1 {
    height: 1613px;
    margin-top: 543px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -2108px;
    margin-bottom: 33px;
  }

  .u-section-4 .u-image-1 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 388px;
  }
} .u-section-5 {
  min-height: 583px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 583px;
}

.u-section-5 .u-container-layout-1 {
  padding: 60px 14px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 0 16px;
}

.u-section-5 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 15px 32px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 35px 16px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 583px;
}

.u-section-5 .u-container-layout-2 {
  padding: 60px 30px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 25px;
  min-height: 16px;
  width: 171px;
  min-width: 133px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-icon-2 {
  height: 26px;
}

.u-section-5 .u-icon-3 {
  height: 26px;
}

.u-section-5 .u-icon-4 {
  height: 26px;
}

.u-section-5 .u-icon-5 {
  height: 26px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/closeup-photo-of-short-coated-white-and-gray-dog-825947.jpg");
  background-position: 50% 50%;
  min-height: 583px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 481px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 481px;
  }

  .u-section-5 .u-image-1 {
    min-height: 481px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 427px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 30px 50px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 288px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 30px 50px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 320px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 128px;
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-image-1 {
    min-height: 722px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 201px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 455px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 751px;
}

.u-section-6 .u-shape-1 {
  height: 459px;
  margin-top: 211px;
  margin-bottom: 0;
}

.u-section-6 .u-group-1 {
  width: 597px;
  min-height: 561px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -509px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 38px 15px 0 5px;
}

.u-section-6 .u-form-1 {
  width: 510px;
  margin: 10px 6px 0 5px;
}

.u-section-6 .u-form-group-1 {
  width: 100%;
}

.u-section-6 .u-form-group-2 {
  width: 100%;
}

.u-section-6 .u-form-group-3 {
  width: 100%;
}

.u-section-6 .u-form-group-4 {
  width: 100%;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-6 .u-list-1 {
  width: 459px;
  margin: -474px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 385px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px 15px;
}

.u-section-6 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 44px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-6 .u-text-3 {
  margin: 18px 1px 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-6 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 44px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-6 .u-text-5 {
  margin: 18px 1px 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 687px;
  }

  .u-section-6 .u-group-1 {
    width: 459px;
    min-height: 527px;
    margin-top: -493px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 24px;
  }

  .u-section-6 .u-form-1 {
    height: 371px;
    width: 395px;
    margin-right: 2px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-top: -457px;
    margin-bottom: 96px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-text-3 {
    text-transform: none;
  }

  .u-section-6 .u-text-5 {
    text-transform: none;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1063px;
  }

  .u-section-6 .u-shape-1 {
    height: 1003px;
    width: calc(((100% - 720px) / 2) + 484px);
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    width: 566px;
    margin-top: -1037px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-container-layout-1 {
    padding: 40px;
  }

  .u-section-6 .u-form-1 {
    width: 504px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 46px;
    margin-bottom: 51px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1097px;
  }

  .u-section-6 .u-shape-1 {
    height: 962px;
    width: calc(((100% - 540px) / 2) + 484px);
    margin-top: 135px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px 36px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 3px;
    margin-left: 10px;
  }

  .u-section-6 .u-form-1 {
    width: 466px;
    margin-left: 0;
  }

  .u-section-6 .u-list-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1172px;
  }

  .u-section-6 .u-shape-1 {
    height: 1043px;
    width: calc(((100% - 340px) / 2) + 313px);
    margin-top: 129px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: -1112px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    width: 286px;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    width: 313px;
    margin-right: 77px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 25px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }
}.navbar {
border-radius: 60px;
}